.cover {
    background-color: ghostwhite;

    text-align: center;
    border: solid black;
    border-width: 1 1px;
    height: 85%;
    width: 90%;
}

.book {
    background-color: grey;
    text-align: center;
    border-right: solid black;
    border-bottom: solid black;
    border-width: 1 1px;
    height: 400px;
    width: 100%;
    border-bottom-left-radius: 15%;
    border-top-right-radius: 5%;
    padding-bottom: 2em;
}

.title {
    padding: 20%;
}

.author {
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 50%;
}